<html>

<head>
    <title>
                <%= title %>
    </title>
</head>

<body>
    <form action="/users/signinDetails" method="get">

        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Sign In</button>
    </form>
</body>
</html>