<html>

<head>
    <title>


        <%= title %>


    </title>
</head>

<body>
    <form action="/users/signupDetails" method="get">

        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <input type="text" name="name" placeholder="Enter Name"required>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>