header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #5454c4;
}

header ul {
  display: flex;
}

header ul li {
  margin: 5px;
  list-style-type: none;
}

header ul li a {
  color: white;
  text-decoration: none;
}

header h1 a {
  color: white;
  text-decoration: none;
}
